@model MenuItems

<h2>MenuItem</h2>

@*<form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-outline-primary mx-2" />
                  
                </p>
            </div>
        </form>*@


           </div>

    @*<form asp-controller="MenuItem" asp-action="Index" method="get">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-primary mx-2" />

        </p>
    </form>


</div>
@*<table class="table">
    <tr>
        <th>Restaurant Name</th>
        <th>Menu Item</th>
        <th>Price</th>
        <th>Happy Hour Time</th>        
    </tr>
    
   
     <tr>
         <td><a href=/MenuItem/ViewMenuItem/@Model.MenuItem>@Model.ItemPrice</a></td>
         <td>@Model.RestrauntID</td>
         <td>@Model.MenuItem</td>
         <td>@Model.ItemPrice</td>
         <td>@Model.TimeRange</td>
     </tr>
        
   
</table>*@


